{% extends "layout.html"%}

{% block titile %}
Index
{% endblock %}



{% block main %}
<div class="indextxt">
    <p></p>
    <p>As a user, you can create your own questionnaire after registering and logging in.
    You can add questions and answer options. Then you can copy the generated link to send the questionnaire to others.<br>
    After completing the questionnaire, you will receive an e-mail notification and you will be able to check the results after logging into your account.<br>
    Enjoy.</p>
    <p></p>
    
</div>
{% endblock %}
